/* FONTS */

@font-face { font-family: retroPoke; src: url(../assets/fonts/pokemonClassic.ttf); }

@font-face { font-family: sprites; src: url(../assets/fonts/pokpix.ttf); }

@font-face { font-family: julietta; src: url(../assets/fonts/julietta-messie.otf);
}

@font-face { font-family: remachine; src: url(../assets/fonts/RemachineScript_Personal_Use.ttf); }

/* GENERAL STYLES*/

body { font-family: 'Poppins', sans-serif; }

*::-webkit-scrollbar{
  width: 16px;
}

*::-webkit-scrollbar-thumb{
  background-color:#86198F;
  border-radius: 10px;
  border: 2px solid white;
}

*::-webkit-scrollbar-thumb:active{
  background-color:#64007a;
}

*::-webkit-scrollbar-track{
  background: white;
}

/* NAVBAR */

nav { font-family: retroPoke; }

.sprite { font-family: sprites; }

/* HERO */

.hero-text { font-family: 'Poppins', sans-serif; }

.free { font-family: julietta ; font-size: 3.5rem; color: white; }

.fixed-img { margin: 0px; background-color: rgb(75, 196, 75); position: relative; }

.fixed-img::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    background-image: url(../assets/images/pokemon2.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-attachment: fixed;
    background-size: cover;
}

.hero-welcome { position: relative; z-index: 2; font-size: 2.75rem; }

.hero-welcome h2 {  text-shadow: 4px 1px 2px rgba(0,0,0,0.23); }

@media(max-width: 768px) {
    .free-hero { font-size: 2.5rem; }
}

#add-job-hero { color: #FDE047; }

#add-job-hero:hover { color: #B22E1C; }

/* SEARCH BANNER */ 

.search-labels { font-family: retroPoke; }


/* FOOTER */
.build-with { font-family: 'Poppins', sans-serif; color: white; font-size: 1rem; margin-right: 1vw; margin-bottom: 0; align-self: flex-end; }

.made-jopay { color: #E94560; font-family: remachine; font-weight: 100; font-size: 30px; }