/* FONTS */

@font-face { font-family: retroPoke; src: url(../assets/fonts/pokemonClassic.ttf); }

@font-face { font-family: sprites; src: url(../assets/fonts/pokpix.ttf); }

@font-face { font-family: julietta; src: url(../assets/fonts/julietta-messie.otf);
}

nav { font-family: retroPoke; }

.sprite { font-family: sprites; }

.hero-text { font-family: retroPoke; }

.hero-text { font-family: 'Poppins', sans-serif; }

.free { font-family: julietta ; font-size: 3.5rem; color: white; }